{% extends 'account/base.html' %}
{% block content %}
{% load static %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<div class="grid grid-cols-1 md:grid-cols-4 bg-cyan-700 text-slate-600 dashBg">
  <div class="bg-sky-900 text-cream col-span-1">
      <h4 class="m-2"> Welcome {{ request.user }}</h4>
      <p class="m-2">Last Login: <span class="text-sm text-teal-200"> {{ request.user.last_login }}</span> </p>
      
      <img src="{% static 'img/hold.png' %}" class="h-20 w-20 mx-auto">
        <div class="p-6">
            <h5 class="text-center text-lg">Your Enrolled Courses</h5>
              {% for course in courses %}
              <ul>
                <li class="my-6"> <a href="{% url 'student_course_detail' course.slug %}">{{ course }}</a></li>
               
              </ul>
              {% endfor %}
        </div>
        <div class="p-6" >
                <h5 class="text-center text-lg">Total time training</h5>
                
                <ul id="session_time" >
                  {% for object in total_time %}
                    <li class=""  id="session_length" data-id="{{ object.total }}"></li>
                  {% endfor %}
                </ul>
          </div>
  </div>
  <div class="col-span-3 p-6">
    <div class="container  shadow-md" id="container"></div>
    <div class="flex overflow-scroll">
    <table id="datatable" class="border mt-6 shadow-md px-2 hidden">
      <thead>
        <tr>
          <th class="border-b  font-medium p-4 pl-8 pt-0 pb-3 bg-sky-900  text-cream rounded-t-md ">Module</th>
          <th class="border-b  font-medium p-4 pl-8 pt-0 pb-3 bg-sky-900 text-cream rounded-t-md">Course %</th>
          <!-- <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Expires</th> -->
        </tr>
      </thead>
      <tbody>
        {% for result in object_list %}
        <tr class="bg-white">
          
          <td   class=" border-b border-slate-600  p-4 pl-8 text-slate-600 ">{{ result.quiz.name }}</td>
          <td data-exp="{{ result.expired }}" id="expDate" class="border-b border-slate-600 p-4 pl-8 text-slate-600 ">{{ result.score }}</td>
          <!-- <td  class="hidden border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400">{{ result.expired}}</td> -->
        </tr>
        
        {% endfor %}
      </tbody>
    </table> 
    <!-- hidden table for the graph -->
    <table  class="border mt-6 shadow-md px-2 ">
      <thead>
        <tr>
          <th class="border-b  font-medium p-4 pl-8 pt-0 pb-3 bg-sky-900  text-cream rounded-t-md ">Module</th>
          <th class="border-b  font-medium p-4 pl-8 pt-0 pb-3 bg-sky-900 text-cream rounded-t-md">Course %</th>
          <th class="border-b  font-medium p-4 pl-8 pt-0 pb-3 bg-sky-900 text-cream rounded-t-md">Expiry Date</th>
          <th class="border-b  font-medium p-4 pl-8 pt-0 pb-3 bg-sky-900 text-cream rounded-t-md">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for result in object_list %}
        <tr class="bg-white">
          
          <td   class=" border-b border-slate-600  p-4 pl-8 text-slate-600 ">{{ result.quiz.name }}</td>
          <td class="border-b border-slate-600 p-4 pl-8 text-slate-600 ">{{ result.score }}</td>
          <td data-exp="{{ result.expired }}" id="expDate" class="border-b border-slate-600 p-4 pl-8 text-slate-600 ">{{ result.expired}}</td>
          <td {% if result.score >= result.quiz.required_score_to_pass  %}class="text-green-600 border-b border-slate-600 p-4 pl-8 text-slate-600 text-sm"{% else %}class="text-red-700 border-b border-slate-600 p-4 pl-8 text-slate-600 text-sm"{% endif %}>{{ result.passed }}</td>
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>  


<script src="{% static 'js/charts.js' %}"></script>
<script src="{% static 'js/hours.js' %}"></script>

<div class="bg-cyan-700 text-cream p-12">
  <h4 class="text-center text-lg my-2">Admin Actions</h4>
    <div class="flex flex-wrap flex-row -mx-4 text-center">
      
      <div class=" flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
         
          <div class="outline-8 outline-cyan-900 outline-double py-8 px-12 mb-12 bg-cream border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2 shadow-lg">
              <div class="inline-block text-gray-900 mb-4">
                <div><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                </svg></div>
              <div><a href='{% url "account_change_password" %}'>Change your Password</a></div>
          </div>
          <!-- end service block -->
      </div>
      </div>
      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
          <!-- service block -->
          <div class="outline-8 outline-cyan-900 outline-double py-8 px-12 mb-12 bg-cream border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2 shadow-md">
              <div class="inline-block text-gray-900 mb-4">
                <div><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
                </svg></div>
              <div><a href='{% url "account_email" %}'>Add/Change your Email</a></div>
          </div>
          <!-- end service block -->
      </div>
      </div>
      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
          <!-- service block -->
          <div class="outline-8 outline-cyan-900 outline-double py-8 px-12 mb-12 bg-cream border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2 shadow-md">
              <div class="inline-block text-gray-900 mb-4">
                <div><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                </svg></div>
              <div><a href='{% url "account_reset_password" %}'>Reset your Password</a></div>
          </div>
          <!-- end service block -->
      </div>
      </div>
    
  </div>
</div>

{% endblock %}




<h4 class="text-center">Achievement Breakdown</h4>
    {% for object in object_list %}
    <ul class="m-6">
      <li>{{ object.quiz.name }}</li>
      <li>Required Score to pass: {{ object.quiz.required_score_to_pass }}% </li>
      <li>{{request.user }} achieved {{ object.score }}% </li>
      <li>Your result will expire on {{ object.expired }}</li>
      <li>{{ object.passed }}</li>
    </ul>
    
    {% endfor %}