{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="max-w-sm mx-auto my-6 p-6 rounded-md ">

    <h1 class="text-center font-bold my-6 text-lg">{% trans "Verify Your E-mail Address" %}</h1>

    <p class="text-lg">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
