{% extends 'account/base.html' %}
    {% block title %}
        {% if object %}
            Edit course "{{ object.title }}"
            {% else %}
            <p>Create new course</p>
        {% endif %}
    {% endblock %}

{% block content %}
<div class="  ">
    <h1 class="text-center font-bold text-xl p-6 bg-sky-900 text-white">
        {% if object %}
            Edit course '{{ object.title }}'
        {% else %}
            Create new course
        {% endif %}
    </h1>
    <div class="module max-w-sm mx-auto py-6">
        
        <form method="POST" class="">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="save course" class="btn flex justify-center mx-auto bg-cyan-700">
        </form>
    </div>
</div>
{% endblock %}