{% extends 'account/base.html' %}



{% block content %}
<div class="border rounded-lg shadow ">
<h1 class="bg-gray-700 text-center text-xl text-white p-6 rounded-t-lg">
    {% if object %}
        Edit content '{{ object.title }}'
    {% else %}
        Add new content 
    {% endif %}
</h1>
<div class="max-w-7xl p-2 bg-cyan-700">
    <h2 class="text-lg mb-6">Course Info</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save content" class="btn "></p>
      </form>
</div>

</div>
{% endblock %}